
.container {
  background: #fff;
  max-width: 350px;
  padding: 40px 30px;
  box-sizing: border-box;
  box-shadow: 0 10px 30px 0 rgb(200, 207, 211);
  border-radius: 5px;
  margin: 100px auto 0 auto;
}

.heading {
  margin: 0 0 30px 0;
}

.field {
  display: block;
  margin-bottom: 20px;
  .field_info {
    display: block;
  }
}

.submit_btn {
  min-width: 160px;
  margin: 40px auto 0 auto;
  display: block;
}