
.heading {
  margin: 0 0 30px 0;
}

.submit_btn {
  min-width: 160px;
  margin: 40px auto 0 auto;
  display: block;
}

.error_info {
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, #ed4264, #d6998e);
  padding: 10px 30px;
  animation: opacity .5s ease;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.field {
  display: block;
  margin-bottom: 30px;
  .field_title {
    display: block;
    margin-bottom: 5px;
  }
  .input {
    width: 100%;
    box-shadow: 0 10px 10px 0 rgb(219, 224, 228);
  }
}