@import "../../assets/css/variables.scss";

.container {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 rgb(200, 207, 211);
  width: $card-width;
  height: $card-height;
  position: relative;
  margin: 0;
  box-sizing: border-box;
}

.title {
  position: absolute;
  background: #fff;
  font-size: 16px;
  border-radius: 5px;
  padding: 8px 15px;
  left: 50%;
  bottom: calc(100% - 5px);
  transform: translateX(-50%);
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}