@import "../../assets/css/index.scss";

.container {
  font-family: $font-family;
  padding: 10px;
  border-radius: 4px;
  border-style: none;
  box-shadow: 0 4px 5px -1px rgb(47, 77, 136);
  box-shadow: $card-shadow;
  @extend %align;
}