@import "../../assets/css/index.scss";

$padding-horizontal: 5px;

.wrapper {
  overflow-x: auto;
  background: #fff;
  border-radius: 4px;
  padding: 15px;
  margin: 100px auto;
  box-shadow: $card-shadow;
}

.container {
  width: 100%;
}

.row {
  &:hover .col {
    background-color: rgb(219, 228, 233);
  }
}

.col_head {
  padding: 10px 5px 20px $padding-horizontal;
  @extend %align;
}

.col {
  padding: 10px $padding-horizontal;
  &:first-child {
    border-radius: 5px 0 0 5px;
  }
  &:last-child {
    border-radius: 0 5px 5px 0;
  }
  @extend %align;
}